/* ------------- NAVIGATION ------------- */

.hamburgerOpen,
.hamburgerClose {
  display: none;
}

header {
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    h3 {
      display: inline;
    }
  }
}

nav {
  position: absolute;
  top: 100px;
  height: auto;
  background-image: linear-gradient(grey, rgb(75, 75, 75));
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  ul {
    display: flex;
    flex-direction: row;
    li {
      width: 100px;
    }
    a {
      display: block;
      text-align: center;
      font-weight: $boldWeight;
      padding: 0.5rem 0;
      color: white;
      text-decoration: none;
    }
    .active a {
      background-color: darken($menuColor, 10%);
    }
  }
  ul li a:hover {
    color: $secondaryColor;
    background-color: $primaryColor;
  }
  .navi {
    #search {
      display: inline;
    }
  }
}

#primary nav {
  display: flex;
  flex-direction: row;
}

// -----------------------------------------------------

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "one two three"
    "four null null";
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}

/* ------------- HEADER ------------- */
header {
  height: 130px;
  h3 a{
    padding-top: 50px;
    text-decoration: none;
    color: $fontColor;
  }
}

.footerContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "one two"
      "three three"
      "four four"
      "five five";

    .contact {
      grid-area: one;
    }
    .news {
      grid-area: two;
      padding-right: 10px;
    }
    .why {
      grid-area: three;
    }
    .social {
      grid-area: four;
    }
    .developer {
      grid-area: five;
    }
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: none;
}