/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  height: 75px;
  padding-top: 10px;
}

/* ------------- BODY ------------- */

body {
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $normalWeight;
}

/* ------------- HEADER ------------- */
header {
  h3 {
    display: none;
  }
}

/*  ------------- NAV -------------  */

.smallNavBar {
  background-color: $menuColor;
}

.hamburger {
  display: block;
  width: 7rem;
  height: 2.75rem;
  background-repeat: no-repeat;
  background-position: 2vw center;
}

.hamburgerOpen {
  @extend .hamburger;
  background-image: url(../images/menuOpenWhite.png);
}

.hamburgerClose {
  @extend .hamburger;
  background-image: url(../images/menuCloseWhite.png);
}

nav {
  height: 100vh;
  width: 100%;
  background-color: $menuColor;
  ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 0.6rem 2%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);

    ul li a {
      padding-left: 8%;
    }

    .active a {
      background-color: $primaryColor;
    }
  }
  #search {
    display: none;
  }
}
/*  ------------- MAIN -------------  */

main {
  h1 {
    font-size: 1.75rem;
    margin: 1rem 0 0 $gutter;
    color: $primaryColor;
  }
}

a.coolTrick {
  display: block;
  text-align: center;
  width: auto;
  margin: 2rem 0;
  position: relative;
  //   padding-bottom: 20px;

  &:hover .coverColor {
    opacity: 0.1;
  }
}

.icon {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  top: 50%;
  margin-top: -45%;
}

.txt {
  position: absolute;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.txtLow {
  position: absolute;
  bottom: -30px;
  background-color: $secondaryColor;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.coverColor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  background-color: $secondaryColor;
}

//   --------------------GALLERY CSS GRID-------------------

.gallery {
  display: grid;
  img {
    width: 100%;
  }
  grid-column-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}

/*  ------------- SLICK SLIDER -------------  */
.myslider div {
  width: 100%;
  img {
    width: 100%;
  }
}

/*  ------------- FOOTER -------------  */
footer {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  div {
    padding: 20px 10px 0 10px;
  }

  section {
    padding-bottom: 10px;
  }
  .phone a {
    //   text-decoration: none;
    color: $fontColor;
  }
  .news {
    padding: 0;
    h3,
    p {
      padding: 10px;
    }
  }
  h3 {
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: $fontColor;
  }
  p {
    color: $fontColor;
  }
  #search {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10 5px;
    input {
      height: 44px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
    }
    button {
      height: 44px;
      border-radius: 20px;
    }
  }
  .social {
    display: flex;
    justify-content: space-around;
    padding: 10 20%;
    .fab {
      color: white;
      font-size: 2rem;
      &:hover {
        color: red;
      }
    }
  }
  .developer {
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
